<!-- albus-dumbledore.component.html -->
<div style="padding: 20px;">
    <nz-card nzTitle="Albus Dumbledore:">
      <div class="borderVariables">
        <div>Variable del Padre:</div>
        <div>parentMessageInput</div>
        <div>childMessageEventOutput</div>
      </div>
      <div class="border">Hijo usando &#64;Output: <h3>{{ childMessageEventOutput }}</h3></div>
      <app-harry-potter [parentMessageInput]="parentMessageInput" (childMessageEventOutput)="receiveMessage($event)">
        <div class="border">Padre usando &#64;ContentChild: <h3>Y ante cualquier peligro, recuerda llevar tu capa de invisibilidad. Te ayudará.</h3></div>
      </app-harry-potter>
  
    </nz-card>
  </div>
  